$background-color:#E5E5E5;
$header-footer-color: #CBC1B1;
$textbox-color: #7C7474;
$text-color:#F8F7EC;
$navbar-current-positon:#7C7474;
$font-size: 1rem;
body{
    background-color: $background-color;
    font-family: Arial, Helvetica, sans-serif;
}
