$background-color: rgb(131, 158, 8);
$title-text-size: 2rem;
$text-size: 1rem;
$green_border: solid 3px darkgreen;

body{
    background-image: url("../obrazky/R.png");
    background-size: 100%, 100%;
    font-family: Arial, Helvetica, sans-serif;
}