body{
    background-image: url("obrazky/R.png");
    background-size: 100%, 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container {
    border: solid 3px darkgreen;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    background-color: rgb(131, 158, 8);
}
.flex-items {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
.container{

    margin: 1rem;
    flex-basis: auto;
    align-self: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: normal;
    
}
.flex{
    
    display: flex;
    width: 1200px;
    background-color: rgb(131, 158, 8);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content:center;
    
}
.flex > img{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    font-size: 3em;
    margin: 10px;
}
.textbox{
    border: solid 3px darkgreen;
    margin-top: 1rem;
    margin-right: 18.5%;
    margin-left:  18.5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    background-color: rgb(131, 158, 8); 
}
.title{
    font-size: 2rem;
    display: block;
    flex-basis: auto;
    align-self: left;
    padding-top: 1rem;
}
.text{
    font-size: 1rem;
    display: block;
    flex-basis: auto;
    align-self: center;
    padding: 0rem 2rem 2rem 2rem;
}
