$background-color:#E7F8F6;
$header-footer-color: #9097DC;
$textbox-color:#E6C5FF;
$text1-color:white;
$text2-color:black;
$navbar-current-positon:#B56AEF;
$navbar-color:#D094FF;
body{
    background-color:$background-color;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
a{
    
    text-decoration:none;
}
